<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="pull-right">
<a href="restaurant/new"><input type="button" value="New Restaurant"></input></a>
</div>
<table width="100%" height="100%" border="1%" align="center">
  <thead align="center">
    <tr>
      <th align="center">NAME</th>
      <th>ADDRESS</th>
    </tr>
  </thead>
  <tbody>
    <%@restaurants.each do |r|%>
      <tr>
        <td><%=r.name%></td>
        <td>
            <%r.addresses.each do |a|%>
              <%= a.location%>
              <%end%>
        </td>
      <td> edit </td>
      <td> destroy  </td>
      </tr>
    <%end%>
  </tbody>
</table>
</div>
</div></div>
