<%= form_tag '/restaurants', method: "post", :multipart => true do %>

NAME:<input type="text" name="name" value=""></input><br>

Address:<input type="text" name="address" value=""></input><br>

<input type="submit" value="submit"></input><br>

<a href="/restaurants"><input type="button" value="Back"></input></a>
<%end%>
